torch_geometric>=2.0.0
torch-sparse>=0.6.16
qiskit-aer>=0.11.0,<=0.13.3
qiskit==0.43.2
qiskit-terra>=0.24.1 #==0.46.1
qiskit-experiments>=0.4.0
seaborn>=0.13.2
pylatexenc>=2.10
pandas==1.5.3
#qiskit-ibmq-provider==0.20.2
